.footer {
  background-color: #7883a3;
  display: flex;
  justify-content: space-between;
  padding: 5% 5% 2% 5%;
  position: relative;
  .left {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 4%;
  }
  .center {
    display: flex;
    justify-content: end;
    flex-direction: column;
    a {
      color: white;
      text-decoration: none;
    }
    img {
      width: 25px;
      color: white;
    }
  }
  .right {
    a {
      margin-bottom: 20px;
      font-size: 30px;
      color: white;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      text-decoration: none;
    }
  }

  @media (max-width: 900px) {
    min-height: 150px;
    .left {
      margin-bottom: 25%;
      img {
        width: 70px;
      }
    }
    .center {
      position: absolute;
      font-size: 10px;
      bottom: 10px;
      right: 27%;
      img {
        width: 10px;
      }
    }
    .right {
      a {
        font-size: 14px;
        gap: 5px;
      }
      img {
        width: 20px;
      }
    }
  }
}
