.footer {
  background-color: #7883a3;
  height: 320px;
  display: flex;
  justify-content: space-between;
  padding: 5% 5% 2% 5%;
  .left {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 4%;
  }
  .center {
    display: flex;
    justify-content: end;
    flex-direction: column;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .right {
    a {
      margin-bottom: 20px;
      font-size: 30px;
      color: white;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      text-decoration: none;
    }
  }
}
