.container {
  .title {
    color: #5d698b;
    font-size: 70px;
    text-align: center;
  }
  .contant {
    padding: 40px;
    position: relative;
    .right__cart {
      display: flex;
      justify-content: flex-end;
    }
    .cart {
      background-color: #687598;
      max-width: 820px;
      border-radius: 25px;
      display: flex;
      justify-content: space-between;
      gap: 25px;
      padding: 25px;
      margin-bottom: 50px;

      .description {
        width: 100%;
        border: 3px solid white;
        border-radius: 25px;
        padding: 30px;
        color: white;

        .servicer {
          font-size: 36px;
          line-height: 45px;
          margin-bottom: 25px;
        }
        .text {
          font-size: 25px;
          line-height: 30px;
        }
      }
      @media (max-width: 900px) {
        .description {
          .servicer {
            font-size: 34px;
            line-height: 30px;
          }
          .text {
            font-size: 24px;
            line-height: 22px;
          }
        }
      }
      @media (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        gap: 0px;
        margin-bottom: 50px;
        border-radius: 30px;

        .img {
          order: 1;
        }
        .description {
          order: 2;
          border: none;
          padding: 10px;
          .servicer {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 5px;
          }
          .text {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
    .row__reverse {
      flex-direction: row-reverse;
      text-align: right;
      @media (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        gap: 0px;
        margin-bottom: 50px;
        border-radius: 30px;

        .img {
          order: 1;
        }
        .description {
          order: 2;
          border: none;
          padding: 10px;
          .servicer {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 5px;
          }
          .text {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
    .line__top {
      position: absolute;
      top: 370px;
      left: 0;
      z-index: -1;
    }
    .line__bottom {
      position: absolute;
      bottom: -15px;
      right: 0;
      z-index: -1;
    }
    @media (max-width: 700px) {
      padding: 5%;
      .title {
        font-size: 40px;
      }
      .line__top {
        display: none;
      }
      .line__bottom {
        display: none;
      }
    }
  }
  @media (max-width: 700px) {
    .title {
      font-size: 40px;
    }
  }
}
